.container-fluid{
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.highlight{
  color: #FFC107
}
body{
  background-color: #f4f4f4;
}

/*Header*/
header{
  background-color: #2196F3;
  color: white;
}
header .container-fluid{
  width: 96%;
  margin: auto;
  overflow: hidden;
}

/*Panel*/
.panel-group{
  float: left;
  width: 25vw;
  height: 100vh;
}
.panelButton{
  width: 100%;
  background-color: #white !important;
}
.branding{
  margin-left: 15px;
}
.heading{
  margin-top: 8px;
}
.areaInput{
  margin-bottom: 8px;
}

/*Google map*/
#map{
  height:100vh;
  width: 75vw;
  float: right;
}

/*Forms*/
#forms{
  float: left;
}
