<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>Events Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <h1>Events Page</h1>
    <ul class="main">
        <li class="date">
            <h3>19th Apr</h3>
            <p>Events</p>
        </li>
        <li class="events">
            <ul class="eventDetails">
                <li>
                    <a href="#">
                        <span class="eventTime">9:00AM</span>
                        <span class="eventName">HACKFEST</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

                </br>

                <li>
                    <a href="#">
                        <span class="eventTime">1:00PM</span>
                        <span class="eventName">LUNCH</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

                </br>

                <li>
                    <a href="#">
                        <span class="eventTime">5:00PM</span>
                        <span class="eventName">FINISH</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

                </br>

            </ul>
        </li>

        <li class="date">
            <h3>20th Apr</h3>
            <p>Events</p>
        </li>
        <li class="events">
            <ul class="eventDetails">
                <li>
                    <a href="#">
                        <span class="eventTime">9:00AM</span>
                        <span class="eventName">HACKFEST</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

                </br>

                <li>
                    <a href="#">
                        <span class="eventTime">1:00PM</span>
                        <span class="eventName">LUNCH</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

                </br>

                <li>
                    <a href="#">
                        <span class="eventTime">5:00PM</span>
                        <span class="eventName">PRESENTATION</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

                </br>

                <li>
                    <a href="#">
                        <span class="eventTime">6:00PM</span>
                        <span class="eventName">FINISH</span>
                        </br>
                        <span class="eventLocation">University of Auckland</span>
                    </a>
                </li>

            </ul>
        </li>

    </ul>


</body>
</html>