<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src = "../static/js/script.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "../static/css/style.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>AlmostGraduated | Home</title>
    <script src = "/js/script.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "/css/style.css">
    <title></title>
  </head>
  <body>
    <header>
      <div class = "container-fluid">
        <h1>Almost <span class = "highlight">Graduated</span></h1>
      </div>
    </header>
    <section id = "forms">
      <div class = "container-fluid">
        <div>
          <h2>Event<h2>
        </div>
        <div>
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div>
          <label for="area">Area</label>
          <input type="email" class="form-control" id="area" placeholder="Enter area">
        </div>
        <button type="button" class="btn btn-primary">Primary</button>
      </section>
      <section id = "map">
        <p>map goes here</p>
    </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCyKINPzsnPxnwPsd8HayNsCt4CCEET_2c&callback=myMap"></script>
  </body>
</html>
